<!DOCTYPE html>
<html>
  <head>
    <title>Trello Card Adder</title>
    <meta name="description" content="Trello Card Adder">
    <!--
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <main id="main">
      <br />
      <br />
      <h1 id="pick">Press a project [k]ey</h1>
      <br />
      <h1 id="picked" style="display: none;">Posting to</h1>
      <h2 id="a" class="pick">[A]stige</h2>
      <h2 id="s" class="pick">[S]hopping</h2>
      <h2 id="z" class="pick">[Z]inid</h2>
      <br />
      <form id="cardMakerForm" style="display:none">
        <input type="text" id="title" placeholder="Card title" maxlength="28"><br />
        <textarea id="description" placeholder="Card description with optional MarkDown"></textarea><br />
        <button type="submit">Submit</button> (ESC to cancel)
      </form>
      <br />
      <br />
      <br />
      <br />
      <br />
      <section class="dreams" id="cardsSection" style="display: none;">
        <h3>Recently added</h3>
        <div id="cards">
        </div>
      </section>
    </main>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>